body{
  font-family: 'Roboto', sans-serif, "Segoe UI Bold", Arial, sans-serif;
  margin: 0px;
}

#mapModule{
  display: flex;
  justify-content: space-around;
}

#map {
  height: 92%;
}
#street-view {
  height: 100%;
}

#yelp-list {
  background-color: purple;
  position: absolute;
  z-index: 3;
  margin-top: 100px;
  width: 300px
}
svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  padding: 5px;
}